body{
    background: #1e1f24;
    color:rgb(243, 244, 247);
    font-family: Arial;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p{
    text-align: left;
}
.container
{
    width: 70%;
    padding: .5rem;
    border: 1.5px solid rgb(230, 216, 216);
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
}
.cabecera{
    display: grid;
    grid-template-columns: 1fr 10fr;
    background: #a0a0d3 ;
    color:aliceblue;
    box-shadow: 0px 2px 50px 0px #ffffff;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
}
.cabecera .logo{
    width: 5rem;
    height: 5rem;
    vertical-align: middle;
}
.logo{
    width: 5px;
    height: 5px;
    overflow: hidden;
}
.cabecera .tagline{
    margin: 0 0 0 1rem;
    font-weight: normal;
    font-size: 0.8rem;
}
.footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5rem;
    width: 70%;
    padding: 1rem;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;
}

/*www.cssmatic.com*/